extends layout

block content
  section#about.home-section.text-center.bg-gray
    div.heading-about.marginbot-50
      div.container
        div.row
          div.col-lg-8.col-lg-offset-2
            div.section-heading
              h2 About Us
              hr.secondary
              p.lead.text-center Lorem ipsum dolor sit amet, no nisl mentitum recusabo per, vim at blandit qualisque dissentiunt. Diam efficiantur conclusionemque ut has
              a(href="#service", class="btn btn-default btn-xl page-scroll", data-animation-effect="tada") Learn More
                    
  section.home-section#works
    div.container
      h1.text-center.title#portfolio Portfolio
      hr.secondary
      p.lead.text-center Lorem ipsum dolor sit amet laudantium molestias similique.<br> Quisquam incidunt ut laboriosam.
      br
      div(class="row object-non-visible", data-animation-effect="fadeIn")
        div.col-md-12

          <!-- isotope filters start -->
          div.filters.text-center
            ul.nav.nav-pills 
              - each category in records.characters.data 
                li
                  a(href="#", data-filter="."+ category.category.replace(/\s+/g, '-').toLowerCase())= category.category

          <!-- isotope filters end -->

          <!-- portfolio items start -->
          

          div.isotope-container.row.grid-space-20

            - each item, index in records.characters.data

                div(class="col-sm-6 col-md-3 isotope-item " + item.category.replace(/\s+/g, '-').toLowerCase())
                  div.image-box
                    div.overlay-container
                      img(src=item.image, alt="")
                      a(class="overlay", data-toggle="modal", data-target="#project-" + index)
                        i.fa.fa-search-plus
                        span= item.category

                    a(class="btn btn-default btn-block", data-toggle="modal", data-target="#project-" + index)= item.name

                  <!-- Modal -->

                  div(class="modal fade", id="project-" + index, tabindex="-1", role="dialog", aria-labelledby="", aria-hidde="true")
                    div.modal-dialog.modal-lg
                      div.modal-content
                        div.modal-header
                          button(type="button", class="close", data-dismiss="modal", data-target=item.name)
                            span(aria-hidden="true") &times;
                            span.sr-only Close
                          h3.modal-title#project-1-label= item.name

                        div.modal-body
                          div.row
                            div.col-md-6
                              h4 Description
                              != item.description

                            div.col-md-6
                              img(src=item.image, alt="")

                        div.modal-footer
                          button(type="button", class="btn btn-sm btn-default", data-dismiss="modal") Close
   
                

  
          