doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Content Manager

    link(rel="stylesheet", href="//cms.webriq.com/assets/cms.css")
    link(rel="stylesheet", href="/css/skel.css")


    script!= "CMS_ENV = \"" + (process.env.CMS_ENV || "development") + "\";"
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")

    base(href="/admin/")
  body


    script(type="text/x-handlebars" data-template-name='cms/preview/sitedata').
      <div id="main-wrapper">
        <div class="container">

          {{#cms-preview field="sitedata" as |sitedatas| }}
            <section class="box">
              <h1>Site Information</h1>
              <hr>
              <h5>Website Name:</h5>
              <p>{{sitedatas.sitename}}</p>
              <h5>Favicon icon:</h5>
              <p>{{cms-preview field="icon" from=sitedatas}}</p>
              <h5>Site Logo:</h5>
              <p>{{cms-preview field="logo" from=sitedatas}}</p>
              <h5>Meta Description:</h5>
              <p>{{sitedatas.metadesc}}</p>
              <h5>Meta Author:</h5>
              <p>{{sitedatas.metauthor}}</p>
              <h5>Meta Keywords:</h5>
              <p>{{sitedatas.metauthor}}</p>
              <h5>Copyright Text:</h5>
              <p>{{cms-preview field="footer" from=sitedatas}}</p>
            </section>
          {{/cms-preview}}
        </div>
      </div>


    script(type="text/x-handlebars" data-template-name='cms/preview/posts').
      <div id="main-wrapper">
        <div class="container">
          <!--Content-->
          <article class="box post">
            {{#if entry.banner }}
            {{cms-preview field='banner'}}
            {{/if}}
            <header>
              <h2>{{ entry.title }}</h2>
              <p>{{ entry.shortdesc}}</p>
            </header>
            {{cms-preview field='body'}}
          </article>
        </div>
      </div>

    script(type="text/x-handlebars" data-template-name='cms/preview/portfolio').
      <div id="main-wrapper">
        <div class="container">
          {{#cms-preview field="data" as |character| }}
            <section class="box">
              <span class="image featured">{{cms-preview field="image" from=character}}</span>
              <header>
                <h3>{{character.name}}</h3>
              </header>
              <p>{{{character.description}}}</p>
            </section>
          {{/cms-preview}}
        </div>
      </div>

    script(type="text/x-handlebars" data-template-name='cms/preview/socials').
      <div id="main-wrapper">
        <div class="container">
        <ul class="team-social">
          {{#cms-preview field="social" as |social| }}

            <li class="social-{{social.name}}">
                <a href={{social.path}} target="_blank">{{{social.icon}}}</a>
            </li>

          {{/cms-preview}}
          </ul>
        </div>
      </div>

    script(src="//cms.webriq.com/assets/vendor.js")
    script(src="//cms.webriq.com/assets/cms.js")

    //- script(src='https://app.netlify.com/authentication.js')
    //- script.
    //-   netlify.authenticate({provider:"github"}, function(err, data) {
    //-   if (err) { return console.log("Error authenticating: %s", err.message); }
    //-   console.log("Authenticated with Github: %o", data);
    //-   })

